body {
  background-color: lightgreen;
}

.card {
  width: 75%;
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
}

.bg-color-lightcoral {
  background-color: lightcoral;
}

.bg-color-lightskyblue {
  background-color: lightskyblue;
}

.bg-color-lightpink {
  background-color: lightpink;
}

.bg-color-lightseagreen {
  background-color: lightseagreen;
}

article h2 {
  color: lightslategray;
}

h2 {
  color: lightgoldenrodyellow;
}
